.footerBG {
    background-color: #000;
    color: #aaa;
}

.footerGrid {
    display: grid;
    grid-template:
            "a b c d" 350px / 1fr 1fr 1fr 1fr;
}

.footerGrid div {
    padding: 10px;
}

.footerGrid ul {
    list-style: none;
    padding: 16px 0;
}

.footerGrid li {
    padding: 4px 0;
}

.footerGrid a {
    color: #aaa;
}

.footerGrid h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
}

.footerGridSectionA {
    grid-area: a;
}

.footerGridSectionB {
    grid-area: b;
}

.footerGridSectionC {
    grid-area: c;
}

.footerGridSectionD {
    grid-area: d;
}

.footerGridSectionD ul {
    margin: 0;
}

.footerGridSectionD img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.footerBG p {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}


@media (max-width: 768px) {
    .footerGrid {
        grid-template-areas:
                "a"
                "b"
                "c"
                "d";
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 100%;
        text-align: center;
    }

    .footerGridSectionD img {
        width: 80%;
    }
}